(edif CDC3FF
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2020 11 14 16 19 23)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell DFF_0_1 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port Aclk_c (direction INPUT))
           (port Dout_c (direction OUTPUT))
           (port reset_c (direction INPUT))
           (port sQ2 (direction INPUT))
         )
         (contents
          (instance q_3_i (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance q (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename q_3_iZ0 "q_3_i") (joined
           (portRef Y (instanceRef q_3_i))
           (portRef D (instanceRef q))
          ))
          (net sQ2 (joined
           (portRef sQ2)
           (portRef A (instanceRef q_3_i))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef q_3_i))
          ))
          (net Dout_c (joined
           (portRef Q (instanceRef q))
           (portRef Dout_c)
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef q))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "DFF"))
       )
    )
    (cell DFF_0_0 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port Aclk_c (direction INPUT))
           (port sQ2 (direction OUTPUT))
           (port reset_c (direction INPUT))
           (port sQ1 (direction INPUT))
         )
         (contents
          (instance q_3_i (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance q (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net N_8 (joined
           (portRef Y (instanceRef q_3_i))
           (portRef D (instanceRef q))
          ))
          (net sQ1 (joined
           (portRef sQ1)
           (portRef A (instanceRef q_3_i))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef q_3_i))
          ))
          (net sQ2 (joined
           (portRef Q (instanceRef q))
           (portRef sQ2)
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef q))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "DFF"))
       )
    )
    (cell DFF_0 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port Aclk_c (direction INPUT))
           (port sQ1 (direction OUTPUT))
           (port reset_c (direction INPUT))
           (port sQ0 (direction INPUT))
         )
         (contents
          (instance q_3_i (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance q (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net N_6 (joined
           (portRef Y (instanceRef q_3_i))
           (portRef D (instanceRef q))
          ))
          (net sQ0 (joined
           (portRef sQ0)
           (portRef A (instanceRef q_3_i))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef q_3_i))
          ))
          (net sQ1 (joined
           (portRef Q (instanceRef q))
           (portRef sQ1)
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef q))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "DFF"))
       )
    )
    (cell DFF_0_3 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port sQ0 (direction OUTPUT))
           (port Bclk_c (direction INPUT))
           (port reset_c (direction INPUT))
         )
         (contents
          (instance q_RNO (viewRef prim (cellRef INV (libraryRef smartfusion)))          )
          (instance q_3_i_0 (viewRef prim (cellRef OR2A (libraryRef smartfusion)))          )
          (instance qbar (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance q (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net N_4_i (joined
           (portRef Y (instanceRef q_RNO))
           (portRef D (instanceRef q))
          ))
          (net N_4 (joined
           (portRef Y (instanceRef q_3_i_0))
           (portRef D (instanceRef qbar))
           (portRef A (instanceRef q_RNO))
          ))
          (net sQbar0 (joined
           (portRef Q (instanceRef qbar))
           (portRef A (instanceRef q_3_i_0))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef q_3_i_0))
          ))
          (net Bclk_c (joined
           (portRef Bclk_c)
           (portRef CLK (instanceRef q))
           (portRef CLK (instanceRef qbar))
          ))
          (net sQ0 (joined
           (portRef Q (instanceRef q))
           (portRef sQ0)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "DFF"))
       )
    )
    (cell CDC3FF (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Aclk (direction INPUT))
           (port Bclk (direction INPUT))
           (port reset (direction INPUT))
           (port Dout (direction OUTPUT))
         )
         (contents
          (instance Bclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance Aclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance Dout_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance reset_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance asyncDFF (viewRef netlist (cellRef DFF_0_3))
          )
          (instance syncDFF_1 (viewRef netlist (cellRef DFF_0))
          )
          (instance syncDFF_2 (viewRef netlist (cellRef DFF_0_0))
          )
          (instance syncDFF_3 (viewRef netlist (cellRef DFF_0_1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net sQ0 (joined
           (portRef sQ0 (instanceRef asyncDFF))
           (portRef sQ0 (instanceRef syncDFF_1))
          ))
          (net sQ1 (joined
           (portRef sQ1 (instanceRef syncDFF_1))
           (portRef sQ1 (instanceRef syncDFF_2))
          ))
          (net sQ2 (joined
           (portRef sQ2 (instanceRef syncDFF_2))
           (portRef sQ2 (instanceRef syncDFF_3))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net Aclk_c (joined
           (portRef Y (instanceRef Aclk_pad))
           (portRef Aclk_c (instanceRef syncDFF_3))
           (portRef Aclk_c (instanceRef syncDFF_2))
           (portRef Aclk_c (instanceRef syncDFF_1))
          ))
          (net Aclk (joined
           (portRef Aclk)
           (portRef PAD (instanceRef Aclk_pad))
          ))
          (net Bclk_c (joined
           (portRef Y (instanceRef Bclk_pad))
           (portRef Bclk_c (instanceRef asyncDFF))
          ))
          (net Bclk (joined
           (portRef Bclk)
           (portRef PAD (instanceRef Bclk_pad))
          ))
          (net reset_c (joined
           (portRef Y (instanceRef reset_pad))
           (portRef reset_c (instanceRef syncDFF_3))
           (portRef reset_c (instanceRef syncDFF_2))
           (portRef reset_c (instanceRef syncDFF_1))
           (portRef reset_c (instanceRef asyncDFF))
          ))
          (net reset (joined
           (portRef reset)
           (portRef PAD (instanceRef reset_pad))
          ))
          (net Dout_c (joined
           (portRef Dout_c (instanceRef syncDFF_3))
           (portRef D (instanceRef Dout_pad))
          ))
          (net Dout (joined
           (portRef PAD (instanceRef Dout_pad))
           (portRef Dout)
          ))
         )
        (property orig_inst_of (string "CDC3FF"))
       )
    )
  )
  (design CDC3FF (cellRef CDC3FF (libraryRef work)))
)
