(edif FastSlow
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2020 11 15 20 18 46)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell TRIBUFF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property three_state (string "E'"))
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_tristate (integer 1))
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FastSlow (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Aclk (direction INPUT))
           (port Bclk (direction INPUT))
           (port reset (direction INPUT))
           (port (array (rename out "out[3:0]") 4) (direction OUTPUT))
         )
         (contents
          (instance (rename out_pad_3 "out_pad[3]") (viewRef prim (cellRef TRIBUFF (libraryRef smartfusion)))
          )
          (instance (rename out_pad_2 "out_pad[2]") (viewRef prim (cellRef TRIBUFF (libraryRef smartfusion)))
          )
          (instance (rename out_pad_1 "out_pad[1]") (viewRef prim (cellRef TRIBUFF (libraryRef smartfusion)))
          )
          (instance (rename out_pad_0 "out_pad[0]") (viewRef prim (cellRef TRIBUFF (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net Aclk (joined
           (portRef Aclk)
          ))
          (net Bclk (joined
           (portRef Bclk)
          ))
          (net reset (joined
           (portRef reset)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef E (instanceRef out_pad_0))
           (portRef D (instanceRef out_pad_0))
           (portRef E (instanceRef out_pad_1))
           (portRef D (instanceRef out_pad_1))
           (portRef E (instanceRef out_pad_2))
           (portRef D (instanceRef out_pad_2))
           (portRef E (instanceRef out_pad_3))
           (portRef D (instanceRef out_pad_3))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename out_0 "out_0[0]") (joined
           (portRef PAD (instanceRef out_pad_0))
           (portRef (member out 3))
          ))
          (net (rename out_1 "out_0[1]") (joined
           (portRef PAD (instanceRef out_pad_1))
           (portRef (member out 2))
          ))
          (net (rename out_2 "out_0[2]") (joined
           (portRef PAD (instanceRef out_pad_2))
           (portRef (member out 1))
          ))
          (net (rename out_3 "out_0[3]") (joined
           (portRef PAD (instanceRef out_pad_3))
           (portRef (member out 0))
          ))
         )
        (property orig_inst_of (string "FastSlow"))
       )
    )
  )
  (design FastSlow (cellRef FastSlow (libraryRef work)))
)
