(edif mux
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2020 11 17 6 40 23)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell mux (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename a "a[3:0]") 4) (direction INPUT))
           (port (array (rename b "b[3:0]") 4) (direction INPUT))
           (port sel (direction INPUT))
           (port (array (rename y "y[3:0]") 4) (direction OUTPUT))
         )
         (contents
          (instance (rename yZ0Z_3 "y[3]") (viewRef prim (cellRef MX2 (libraryRef smartfusion)))          )
          (instance (rename yZ0Z_2 "y[2]") (viewRef prim (cellRef MX2 (libraryRef smartfusion)))          )
          (instance (rename yZ0Z_1 "y[1]") (viewRef prim (cellRef MX2 (libraryRef smartfusion)))          )
          (instance (rename yZ0Z_0 "y[0]") (viewRef prim (cellRef MX2 (libraryRef smartfusion)))          )
          (instance (rename y_pad_3 "y_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename y_pad_2 "y_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename y_pad_1 "y_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename y_pad_0 "y_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance sel_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename b_pad_3 "b_pad[3]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename b_pad_2 "b_pad[2]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename b_pad_1 "b_pad[1]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename b_pad_0 "b_pad[0]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename a_pad_3 "a_pad[3]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename a_pad_2 "a_pad[2]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename a_pad_1 "a_pad[1]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename a_pad_0 "a_pad[0]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename a_c_0 "a_c[0]") (joined
           (portRef Y (instanceRef a_pad_0))
           (portRef A (instanceRef yZ0Z_0))
          ))
          (net (rename a_0 "a[0]") (joined
           (portRef (member a 3))
           (portRef PAD (instanceRef a_pad_0))
          ))
          (net (rename a_c_1 "a_c[1]") (joined
           (portRef Y (instanceRef a_pad_1))
           (portRef A (instanceRef yZ0Z_1))
          ))
          (net (rename a_1 "a[1]") (joined
           (portRef (member a 2))
           (portRef PAD (instanceRef a_pad_1))
          ))
          (net (rename a_c_2 "a_c[2]") (joined
           (portRef Y (instanceRef a_pad_2))
           (portRef A (instanceRef yZ0Z_2))
          ))
          (net (rename a_2 "a[2]") (joined
           (portRef (member a 1))
           (portRef PAD (instanceRef a_pad_2))
          ))
          (net (rename a_c_3 "a_c[3]") (joined
           (portRef Y (instanceRef a_pad_3))
           (portRef A (instanceRef yZ0Z_3))
          ))
          (net (rename a_3 "a[3]") (joined
           (portRef (member a 0))
           (portRef PAD (instanceRef a_pad_3))
          ))
          (net (rename b_c_0 "b_c[0]") (joined
           (portRef Y (instanceRef b_pad_0))
           (portRef B (instanceRef yZ0Z_0))
          ))
          (net (rename b_0 "b[0]") (joined
           (portRef (member b 3))
           (portRef PAD (instanceRef b_pad_0))
          ))
          (net (rename b_c_1 "b_c[1]") (joined
           (portRef Y (instanceRef b_pad_1))
           (portRef B (instanceRef yZ0Z_1))
          ))
          (net (rename b_1 "b[1]") (joined
           (portRef (member b 2))
           (portRef PAD (instanceRef b_pad_1))
          ))
          (net (rename b_c_2 "b_c[2]") (joined
           (portRef Y (instanceRef b_pad_2))
           (portRef B (instanceRef yZ0Z_2))
          ))
          (net (rename b_2 "b[2]") (joined
           (portRef (member b 1))
           (portRef PAD (instanceRef b_pad_2))
          ))
          (net (rename b_c_3 "b_c[3]") (joined
           (portRef Y (instanceRef b_pad_3))
           (portRef B (instanceRef yZ0Z_3))
          ))
          (net (rename b_3 "b[3]") (joined
           (portRef (member b 0))
           (portRef PAD (instanceRef b_pad_3))
          ))
          (net sel_c (joined
           (portRef Y (instanceRef sel_pad))
           (portRef S (instanceRef yZ0Z_0))
           (portRef S (instanceRef yZ0Z_1))
           (portRef S (instanceRef yZ0Z_2))
           (portRef S (instanceRef yZ0Z_3))
          ))
          (net sel (joined
           (portRef sel)
           (portRef PAD (instanceRef sel_pad))
          ))
          (net (rename y_c_0 "y_c[0]") (joined
           (portRef Y (instanceRef yZ0Z_0))
           (portRef D (instanceRef y_pad_0))
          ))
          (net (rename y_0 "y[0]") (joined
           (portRef PAD (instanceRef y_pad_0))
           (portRef (member y 3))
          ))
          (net (rename y_c_1 "y_c[1]") (joined
           (portRef Y (instanceRef yZ0Z_1))
           (portRef D (instanceRef y_pad_1))
          ))
          (net (rename y_1 "y[1]") (joined
           (portRef PAD (instanceRef y_pad_1))
           (portRef (member y 2))
          ))
          (net (rename y_c_2 "y_c[2]") (joined
           (portRef Y (instanceRef yZ0Z_2))
           (portRef D (instanceRef y_pad_2))
          ))
          (net (rename y_2 "y[2]") (joined
           (portRef PAD (instanceRef y_pad_2))
           (portRef (member y 1))
          ))
          (net (rename y_c_3 "y_c[3]") (joined
           (portRef Y (instanceRef yZ0Z_3))
           (portRef D (instanceRef y_pad_3))
          ))
          (net (rename y_3 "y[3]") (joined
           (portRef PAD (instanceRef y_pad_3))
           (portRef (member y 0))
          ))
         )
        (property orig_inst_of (string "mux"))
       )
    )
  )
  (design mux (cellRef mux (libraryRef work)))
)
