(edif SlowFast
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2020 11 17 6 42 49)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell DFF_bus4 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename out_c "out_c[3:0]") 4) (direction OUTPUT))
           (port (array (rename doutsink "doutSink[3:0]") 4) (direction INPUT))
           (port Bclk_c (direction INPUT))
           (port reset_c (direction INPUT))
         )
         (contents
          (instance (rename q_RNO_3 "q_RNO[3]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename q_RNO_2 "q_RNO[2]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename q_RNO_1 "q_RNO[1]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename q_RNO_0 "q_RNO[0]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename q_0 "q[0]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename q_1 "q[1]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename q_2 "q[2]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename q_3 "q[3]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename q_RNOZ0Z_3 "q_RNO[3]") (joined
           (portRef Y (instanceRef q_RNO_3))
           (portRef D (instanceRef q_3))
          ))
          (net (rename doutSink_3 "doutSink[3]") (joined
           (portRef (member doutsink 0))
           (portRef A (instanceRef q_RNO_3))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef q_RNO_0))
           (portRef B (instanceRef q_RNO_1))
           (portRef B (instanceRef q_RNO_2))
           (portRef B (instanceRef q_RNO_3))
          ))
          (net (rename q_RNOZ0Z_2 "q_RNO[2]") (joined
           (portRef Y (instanceRef q_RNO_2))
           (portRef D (instanceRef q_2))
          ))
          (net (rename doutSink_2 "doutSink[2]") (joined
           (portRef (member doutsink 1))
           (portRef A (instanceRef q_RNO_2))
          ))
          (net (rename q_RNOZ0Z_1 "q_RNO[1]") (joined
           (portRef Y (instanceRef q_RNO_1))
           (portRef D (instanceRef q_1))
          ))
          (net (rename doutSink_1 "doutSink[1]") (joined
           (portRef (member doutsink 2))
           (portRef A (instanceRef q_RNO_1))
          ))
          (net (rename q_RNOZ0Z_0 "q_RNO[0]") (joined
           (portRef Y (instanceRef q_RNO_0))
           (portRef D (instanceRef q_0))
          ))
          (net (rename doutSink_0 "doutSink[0]") (joined
           (portRef (member doutsink 3))
           (portRef A (instanceRef q_RNO_0))
          ))
          (net (rename out_c_0 "out_c[0]") (joined
           (portRef Q (instanceRef q_0))
           (portRef (member out_c 3))
          ))
          (net Bclk_c (joined
           (portRef Bclk_c)
           (portRef CLK (instanceRef q_3))
           (portRef CLK (instanceRef q_2))
           (portRef CLK (instanceRef q_1))
           (portRef CLK (instanceRef q_0))
          ))
          (net (rename out_c_1 "out_c[1]") (joined
           (portRef Q (instanceRef q_1))
           (portRef (member out_c 2))
          ))
          (net (rename out_c_2 "out_c[2]") (joined
           (portRef Q (instanceRef q_2))
           (portRef (member out_c 1))
          ))
          (net (rename out_c_3 "out_c[3]") (joined
           (portRef Q (instanceRef q_3))
           (portRef (member out_c 0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "DFF_bus4"))
       )
    )
    (cell DFF_0_0 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port q (direction OUTPUT))
           (port Aclk_c (direction INPUT))
           (port reset_c (direction INPUT))
           (port syncQ2 (direction INPUT))
         )
         (contents
          (instance q_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename qZ0 "q") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net N_10 (joined
           (portRef Y (instanceRef q_RNO))
           (portRef D (instanceRef qZ0))
          ))
          (net syncQ2 (joined
           (portRef syncQ2)
           (portRef A (instanceRef q_RNO))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef q_RNO))
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef qZ0))
          ))
          (net q (joined
           (portRef q)
           (portRef Q (instanceRef qZ0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "DFF"))
       )
    )
    (cell DFF_0_1 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port Aclk_c (direction INPUT))
           (port syncQ2 (direction OUTPUT))
           (port reset_c (direction INPUT))
           (port syncQ1 (direction INPUT))
         )
         (contents
          (instance q_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance q (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net N_8 (joined
           (portRef Y (instanceRef q_RNO))
           (portRef D (instanceRef q))
          ))
          (net syncQ1 (joined
           (portRef syncQ1)
           (portRef A (instanceRef q_RNO))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef q_RNO))
          ))
          (net syncQ2 (joined
           (portRef Q (instanceRef q))
           (portRef syncQ2)
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef q))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "DFF"))
       )
    )
    (cell DFF_0_2 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port Aclk_c (direction INPUT))
           (port syncQ1 (direction OUTPUT))
           (port reset_c (direction INPUT))
           (port Bclk_c (direction INPUT))
         )
         (contents
          (instance q_RNO (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance q (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net N_6 (joined
           (portRef Y (instanceRef q_RNO))
           (portRef D (instanceRef q))
          ))
          (net Bclk_c (joined
           (portRef Bclk_c)
           (portRef A (instanceRef q_RNO))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef q_RNO))
          ))
          (net syncQ1 (joined
           (portRef Q (instanceRef q))
           (portRef syncQ1)
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef q))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "DFF"))
       )
    )
    (cell DFF_0_3 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port dataSourceQ (direction OUTPUT))
           (port Aclk_c (direction INPUT))
           (port reset_c (direction INPUT))
         )
         (contents
          (instance q_RNO (viewRef prim (cellRef INV (libraryRef smartfusion)))          )
          (instance qbar_RNITV5R (viewRef prim (cellRef OR2A (libraryRef smartfusion)))          )
          (instance qbar (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance q (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net N_4_i (joined
           (portRef Y (instanceRef q_RNO))
           (portRef D (instanceRef q))
          ))
          (net N_4 (joined
           (portRef Y (instanceRef qbar_RNITV5R))
           (portRef D (instanceRef qbar))
           (portRef A (instanceRef q_RNO))
          ))
          (net dataSourceQbar (joined
           (portRef Q (instanceRef qbar))
           (portRef A (instanceRef qbar_RNITV5R))
          ))
          (net reset_c (joined
           (portRef reset_c)
           (portRef B (instanceRef qbar_RNITV5R))
          ))
          (net Aclk_c (joined
           (portRef Aclk_c)
           (portRef CLK (instanceRef q))
           (portRef CLK (instanceRef qbar))
          ))
          (net dataSourceQ (joined
           (portRef Q (instanceRef q))
           (portRef dataSourceQ)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "DFF"))
       )
    )
    (cell SlowFast (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Aclk (direction INPUT))
           (port Bclk (direction INPUT))
           (port reset (direction INPUT))
           (port (array (rename out "out[3:0]") 4) (direction OUTPUT))
         )
         (contents
          (instance Bclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance Aclk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance (rename shiftReg_2_2 "shiftReg_2[2]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename shiftReg_2_1 "shiftReg_2[1]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename shiftReg_2_0 "shiftReg_2[0]") (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename doutSink_0 "doutSink[0]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename doutSink_1 "doutSink[1]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename doutSink_2 "doutSink[2]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename doutSink_3 "doutSink[3]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename shiftReg_0 "shiftReg[0]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename shiftReg_1 "shiftReg[1]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename shiftReg_2 "shiftReg[2]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename shiftReg_3 "shiftReg[3]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename out_pad_3 "out_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename out_pad_2 "out_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename out_pad_1 "out_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename out_pad_0 "out_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance reset_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance toggleDFF (viewRef netlist (cellRef DFF_0_3))
          )
          (instance syncDFF_1 (viewRef netlist (cellRef DFF_0_2))
          )
          (instance syncDFF_2 (viewRef netlist (cellRef DFF_0_1))
          )
          (instance syncDFF_3 (viewRef netlist (cellRef DFF_0_0))
          )
          (instance datasinkDFF (viewRef netlist (cellRef DFF_bus4))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net dataSourceQ (joined
           (portRef dataSourceQ (instanceRef toggleDFF))
           (portRef D (instanceRef shiftReg_0))
          ))
          (net syncQ1 (joined
           (portRef syncQ1 (instanceRef syncDFF_1))
           (portRef syncQ1 (instanceRef syncDFF_2))
          ))
          (net syncQ2 (joined
           (portRef syncQ2 (instanceRef syncDFF_2))
           (portRef syncQ2 (instanceRef syncDFF_3))
          ))
          (net q (joined
           (portRef q (instanceRef syncDFF_3))
           (portRef CLK (instanceRef doutSink_3))
           (portRef CLK (instanceRef doutSink_2))
           (portRef CLK (instanceRef doutSink_1))
           (portRef CLK (instanceRef doutSink_0))
          ))
          (net (rename doutSinkZ0Z_0 "doutSink[0]") (joined
           (portRef Q (instanceRef doutSink_0))
           (portRef (member doutsink 3) (instanceRef datasinkDFF))
          ))
          (net (rename doutSinkZ0Z_1 "doutSink[1]") (joined
           (portRef Q (instanceRef doutSink_1))
           (portRef (member doutsink 2) (instanceRef datasinkDFF))
          ))
          (net (rename doutSinkZ0Z_2 "doutSink[2]") (joined
           (portRef Q (instanceRef doutSink_2))
           (portRef (member doutsink 1) (instanceRef datasinkDFF))
          ))
          (net (rename doutSinkZ0Z_3 "doutSink[3]") (joined
           (portRef Q (instanceRef doutSink_3))
           (portRef (member doutsink 0) (instanceRef datasinkDFF))
          ))
          (net (rename shiftRegZ0Z_0 "shiftReg[0]") (joined
           (portRef Q (instanceRef shiftReg_0))
           (portRef D (instanceRef doutSink_0))
           (portRef A (instanceRef shiftReg_2_0))
          ))
          (net (rename shiftRegZ0Z_1 "shiftReg[1]") (joined
           (portRef Q (instanceRef shiftReg_1))
           (portRef D (instanceRef doutSink_1))
           (portRef A (instanceRef shiftReg_2_1))
          ))
          (net (rename shiftRegZ0Z_2 "shiftReg[2]") (joined
           (portRef Q (instanceRef shiftReg_2))
           (portRef D (instanceRef doutSink_2))
           (portRef A (instanceRef shiftReg_2_2))
          ))
          (net (rename shiftRegZ0Z_3 "shiftReg[3]") (joined
           (portRef Q (instanceRef shiftReg_3))
           (portRef D (instanceRef doutSink_3))
          ))
          (net (rename shiftReg_2Z0Z_0 "shiftReg_2[0]") (joined
           (portRef Y (instanceRef shiftReg_2_0))
           (portRef D (instanceRef shiftReg_1))
          ))
          (net (rename shiftReg_2Z0Z_1 "shiftReg_2[1]") (joined
           (portRef Y (instanceRef shiftReg_2_1))
           (portRef D (instanceRef shiftReg_2))
          ))
          (net (rename shiftReg_2Z0Z_2 "shiftReg_2[2]") (joined
           (portRef Y (instanceRef shiftReg_2_2))
           (portRef D (instanceRef shiftReg_3))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net Aclk_c (joined
           (portRef Y (instanceRef Aclk_pad))
           (portRef Aclk_c (instanceRef syncDFF_3))
           (portRef Aclk_c (instanceRef syncDFF_2))
           (portRef Aclk_c (instanceRef syncDFF_1))
           (portRef Aclk_c (instanceRef toggleDFF))
           (portRef CLK (instanceRef shiftReg_3))
           (portRef CLK (instanceRef shiftReg_2))
           (portRef CLK (instanceRef shiftReg_1))
           (portRef CLK (instanceRef shiftReg_0))
          ))
          (net Aclk (joined
           (portRef Aclk)
           (portRef PAD (instanceRef Aclk_pad))
          ))
          (net Bclk_c (joined
           (portRef Y (instanceRef Bclk_pad))
           (portRef Bclk_c (instanceRef datasinkDFF))
           (portRef Bclk_c (instanceRef syncDFF_1))
          ))
          (net Bclk (joined
           (portRef Bclk)
           (portRef PAD (instanceRef Bclk_pad))
          ))
          (net reset_c (joined
           (portRef Y (instanceRef reset_pad))
           (portRef reset_c (instanceRef datasinkDFF))
           (portRef reset_c (instanceRef syncDFF_3))
           (portRef reset_c (instanceRef syncDFF_2))
           (portRef reset_c (instanceRef syncDFF_1))
           (portRef reset_c (instanceRef toggleDFF))
           (portRef B (instanceRef shiftReg_2_0))
           (portRef B (instanceRef shiftReg_2_1))
           (portRef B (instanceRef shiftReg_2_2))
          ))
          (net reset (joined
           (portRef reset)
           (portRef PAD (instanceRef reset_pad))
          ))
          (net (rename out_c_0 "out_c[0]") (joined
           (portRef (member out_c 3) (instanceRef datasinkDFF))
           (portRef D (instanceRef out_pad_0))
          ))
          (net (rename out_0 "out[0]") (joined
           (portRef PAD (instanceRef out_pad_0))
           (portRef (member out 3))
          ))
          (net (rename out_c_1 "out_c[1]") (joined
           (portRef (member out_c 2) (instanceRef datasinkDFF))
           (portRef D (instanceRef out_pad_1))
          ))
          (net (rename out_1 "out[1]") (joined
           (portRef PAD (instanceRef out_pad_1))
           (portRef (member out 2))
          ))
          (net (rename out_c_2 "out_c[2]") (joined
           (portRef (member out_c 1) (instanceRef datasinkDFF))
           (portRef D (instanceRef out_pad_2))
          ))
          (net (rename out_2 "out[2]") (joined
           (portRef PAD (instanceRef out_pad_2))
           (portRef (member out 1))
          ))
          (net (rename out_c_3 "out_c[3]") (joined
           (portRef (member out_c 0) (instanceRef datasinkDFF))
           (portRef D (instanceRef out_pad_3))
          ))
          (net (rename out_3 "out[3]") (joined
           (portRef PAD (instanceRef out_pad_3))
           (portRef (member out 0))
          ))
         )
        (property orig_inst_of (string "SlowFast"))
       )
    )
  )
  (design SlowFast (cellRef SlowFast (libraryRef work)))
)
